.header {
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.background {
  gap: 16px;
  display: flex;
  font-weight: 700;
  font-size: 13px;
  align-items: center;
}
.search-input {
  width: 100%;
  font-size: 20px;
  padding: 2px 0 2px 48px;
  color: var(--white);
  height: 60px;
  background-color: var(--indigo);
  border-radius: 15px;
  background-image: url(../../assets/icon-search.svg);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 16px;
}

input::placeholder {
  font-size: 13px;
  font-weight: 400;
  line-height: 25px;
}
.search {
  display: flex;
  align-items: center;
  margin-top: 36px;
}
.search-btn {
  width: 106px;
  height: 50px;
  background-color: var(--blue);
  border-radius: 10px;
  margin-left: -114px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
}
.input-background-color {
  background-color: var(--white);
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
  color: var(--black);
  content: "black";
}
h1 title {
  font-size: 26px;
  font-weight: 700;
}
.btn-back-color {
  background-color: var(--black);
  color: var(--white);
}
.btn-back-color-two {
  background-color: var(--white);
  color: var(--black);
}
@media screen and (min-width: 768px) {
  .search-input {
    background-position-x: 32px;
    padding: 2px 0 2px 80px;
  }
  input::placeholder {
    font-size: 18px;
  }
}
